{
    "swagger": "2.0",
    "info": {
        "description": "Swagger API documentation for TATA Communications Vulscano.",
        "title": "Vulscano API Documentation",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "Vulscano API Support",
            "url": "https://github.com/lucabrasi83/vulscano/issues",
            "email": "sebastien.pouplin@tatacommunications.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "vulscano.vsnl.co.in:443",
    "basePath": "/api/v1",
    "paths": {
        "/ping": {
            "get": {
                "description": "Verify the API is responding to HTTP requests",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Ping Health Check",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/handlers.PingAPIResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "handlers.PingAPIResponse": {
            "type": "object",
            "properties": {
                "golangRuntime": {
                    "type": "string"
                },
                "pong": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}